# AI & LLM
openai
ollama
chromadb
langchain

# System & Automation
pyautogui
pydirectinput
psutil
webbrowser-share

# UI & Voice
PyQt6
ElevenLabs
SpeechRecognition
pyaudio

# Tools & APIs
python-telegram-bot
spotipy
obs-websocket-py
duckduckgo-search
python-dotenv
